OK Kod musi działać
OK Kod powinien zawierać co najmniej 300 linii (kodu) / osobę
OK Kod powinien przechodzić ocenę pylinta na 100% [z dokładnością do błędów zwracanych przez zewnętrzne biblioteki]
OK Należy wykorzystać paradygmat programowania obiektowego
OK Kod powinien zawierać unit testy
OK Dostarczenie dokumentacji/opisu projektu
OK Zalecane jest trzymanie projektu jako otwartego repozytorium na githubie


Projekty - mini projekt
Deadline: 31 maja 2015, 23:59
Forma: kod na GH + post na forum z informacja ze jest "gotowy"
Co ma zawierac:
plik .pdf z dokumentacja, opisujaca co znajdzie sie w projekcie, jaka funkcjonalnosc bedzie w nim dostepna,
zarysowana architektura calosci
wersja zerowa, tzn. kod, ktory realizuje zadanie z projektu w wybranym, minimalnym stopniu.
Np. mamy projekt typu "gra w tetrisa dla 2 graczy" to wersja zerowa moze byc tetris na 1 osobe,
bez GUI, menu i grafiki, sama podstawowa logika

grip README.md - convert md to pdf