Kod musi działać
OK Kod powinien zawierać co najmniej 300 linii (kodu) / osobę
Kod powinien przechodzić ocenę pylinta na 100% [z dokładnością do błędów zwracanych przez zewnętrzne biblioteki]
OK Należy wykorzystać paradygmat programowania obiektowego
OK Kod powinien zawierać unit testy
Dostarczenie dokumentacji/opisu projektu
OK Zalecane jest trzymanie projektu jako otwartego repozytorium na githubie
